* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* ------------------------------ */
/* 공통 스타일 관련 */
/* ------------------------------ */
a {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  padding: 3px 15px;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #6e5af0;
  color: #ffffff;
  font-size: 25px;
  font-weight: 900;
}

.btn-middle {
  width: 50px;
  height: 50px;
}

.btn-large {
  width: 60px;
  height: 60px;
}
.btn-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding:0;
  font-size: 22px;
  display:flex;
  justify-content: center;
  align-items: center;

}

.btn-top > a {
  padding:0;
  font-size: 22px;
}

.input-w-80p {
  width: 80%;
}


/* ------------------------------ */
/* 지역 스타일 관련 */
/* ------------------------------ */
.container {
  display:grid;
  grid-template-columns: 200px 1fr;
}
/* ------------------------------------------- */
/* 사이드바 관련 */
/* ------------------------------------------- */
.side-bar {
  background-color: #ff3b49;
}
.side-inner {  
  /* grid item인 .side-bar에 position을 줘도 적용이 안되므로
  side-bar의 콘텐츠(자식요소)들을 "side-inner'로 한번더 랩핑 해줬다,
  */
  position:sticky;
  top: 0;
  color: #ffffff;
}
.title {
  /* padding: 50px 25px; 260331 del pt-edt06-0001 사유~ */
  padding: 50px 0;
  display:flex;
  justify-content: center;
  align-items: center;
}
.nav-box {
  display:flex;
  flex-direction: column;
  gap: 50px;
}
.nav-title {
  background-color: #ff5662;
  padding: 8px 15px;
  font-weight:900;
}
.nav-list {
  list-style: none;
  /* flex 넣은 이유: 아이템들 간의 간격을 편하게 조절 하기 위해 */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding:3px 15px;

}

.nav-list > li:hover {
  background-color: black;
  transition: all 2s;
}

/* ------------------------------ */
/* 메인 관련 */
/* ------------------------------ */
.main {
  /* height: 200vh; TODO: 사이드바 완료시 꼭 지워 */
  min-height:100vh;
  background-color: #f5f5f5;
}

.main-search-box {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.main-banner {
  background-image: url("./img/main_title.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 50px;
}
.main-contents-box {
  display:grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.card {
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img {
  padding-top: 150%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-title {
  font-size: 20px;
  font-weight: 900;
}