/* 폰트 지정 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
body {
  /* font-family: "돋움", "맑은 고딕", "굴림"; */
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* html {
  font-size: 100px;
} */

/* 폰트 크기 */
.p-font-size {
  /* px: 필셀 단위로 폰트 크기 조절 */
  /* font-size: 100px; */

  /* em: 부모 요소의 글자크기 기준 배율로 폰트 크기 조절 */
  /* font-size: 2em; */

  /* rem: 최상위 요소의 글자크기 기준 배율로 폰트 크기 조절 */
  font-size: 1rem;
}

div {
  font-size: 30px;
}

.p-font-size2 {
  font-size: 2em;
}

.p-font-weight {
  /* 폰트 굵기: 100~900을 설정 가능 */
  font-weight: 900;
}
