.h1-color {
  /* 폰트의 색상을 설정하는 속성 */
  color: #f00606;
}

.h1-text-decoration {
  /* 선으로 텍스트 꾸미는 속성 */
  text-decoration: line-through;
}

.p-align {
  text-align: right;
}

.box {
  background-color: #ba6666;
  height: 200px;
}

.p-line-height {
  /* 줄 간격을 조절하는 속성 */
  line-height: 200px;
  text-align: center;
}

.h1-text-transform {
  /* 영어를 대문자 또는 소문자 등 을로 바꾸는 속성 */
  text-transform: lowercase;
}

.h1-letter-spacing {
  /* 자간을 조절하는 속성 */
  letter-spacing: 20px;
}

.h1-word-spacting {
  /* 단어 사이의 간격을 조절하는 속성 */
  word-spacing: 10px;
}

.shadow {
  /* 텍스트에 그림자 효과를 주는 속성 */
  /* 속성 값은 순서대로 가로위치, 세로위치, 그림자 크기, 색상 */
  text-shadow: 5px 5px 20px #ba6666;
}