/*
 연결 선택자 
공백( ), 꺽새 괄호>, 더하기(+), 물결(~)등의 결합자를 이용해 특정 요소를 선택
 */
 /* 후손 결합자: 공백을 이용하여 선택자를 조합, 부모요소 영역 하에 있는 특정 선택자 모두에 스타일을 적용 */
.container span {
  /* color: blue; */
}
/* 자식 결합자: 꺽새괄호를 이용해서 선택지를 조합, 부모 요소 영역 직하에 있는 자식 요소들만 스타일을 적용 */
.container > span {
  /* color:brown; */
}

/* 인접 형제 결합자: +를 이용해서 선택자를 조합 
  첫번째 선택자 요소 바로 뒤에 나오는 형제 요소에 스타일을 적용
*/
.bro + span {

  /* color:blueviolet; */
}
.bro + div {
  /* 인접 형제가 아니라서 적용 안된다 */
  /* color:mediumturquoise; */
}
/* 일반 형제 결합자:~을 이용해서 선택자를 조합 
  첫번재 선택자 요소 이후에 나오는 모든 형제요소에 스타일을 적용
*/
.bro ~ span {
  /* color:chocolate; */
}
.bro ~ div {
  color:greenyellow;
}

/* 속성 선택자 
  HTML 요소의 속성을 이용해서 특정 요소를 선택
*/
/* 속성명으로 선택: `{속성명}`으로 선택 */ 

[href ] { 
  color:aqua;
}
/* 속성명 + 속성값이 일치하는 요소 선택 */
[target="_blank"] {
  color:cornflowerblue;
}
/*  특정 속성의 특정한 속성 값이 포함되어 있는 욧 선택 */
[class~="att-class"] {
  color: crimson;
}
/* 속성값과 완전 일치 또는 `속성값`에 바로뒤 글자가 `-`인 요소를 선택 */
[class|="att"] {
  color:darkcyan;
}
/* 특정 속성값으로 시작하는 요소 선택*/
[class^="a"] {
  font-size: 10px;
}
/* 특정 속성 값으로 끝나는 요소 선택 */
[class$="class"] {
  font-size: 20px;
}
/* 특정 속성 값이 부분일치 하는 요소 선택 */
[class*="class"] {
  font-weight: 900;
}
