* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding:10px;
  background-color: antiquewhite;
  /* width:450px; */
  height:450px;
  /* 부모요소에 flex 지정 */
  display: flex;

  /* felx-direaction: 주축 방향을 정하는 속성(default: row) */
  flex-direction: row;
  
  /* gap:아이템들 간의 간격을 조절하는 속성 */
  gap:20px;

  /* flex-wrap: 줄 바꿈 여부를 지정 */
  /* flex-wrap:wrap; */

  /* flex-flow: 'flex-direaction'과 'flex-wrap'을 한번에 지정 */
  /* flex-flow: column nowrap; */

  /* justify-contetn: 주축 기준으로 아이템들을 정령하는 방법을 지정 */
  justify-content: space-evenly;

  /* align-items: 도착지 기준 단일 라인을 정렬하는 방법을 지정 */
  /* align-items:center; */

  /* aling-content: 교차축 기준 여러 라인을 정렬하는 방법을 지정 */
  align-content: space-evenly;
}


.item {
  /* flex-basis: 아이템의 기본 크기를 설정 */
  flex-basis: 150px;

  /* flex-grow: 빈공간이 생겼을때 얼마만큼 더 커질지 결정하는 속성 */
  /* flex-grow:1; */

  /* flex-shrink:공간이 부족할때 얼마나 더 줄어들지 결정하는 속성 */
  /* flex-shrink: 1; */
  
  /* flex:flex-grow, flex-shrink, flex-basis를 한번에 작성(실무 권장) */
  flex: 1;  
  
  background-color: cadetblue;
  border: 1px solid black;
}
/* .item:nth-child(3) {
  flex-grow:2;
} */